on property:sys.boot_completed=1

    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m
    
    # Block
    write /sys/block/mmcblk0/queue/rotational 0

    # Adreno idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active 0
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 20
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 20
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 6000
    
    # Enable EIS
    setprop persist.camera.eis.enable 1
    setprop persist.camera.is_type 4

    # Disable KSM by default
    write /sys/kernel/mm/ksm/run 0
    write /sys/kernel/mm/ksm/sleep_millisecs 1500
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/deferred_timer 1
