on property:sys.boot_completed=1

    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m
    
    # Disable KSM by default
    write /sys/kernel/mm/ksm/run 0 
    write /sys/kernel/mm/ksm/sleep_millisecs 1500
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/deferred_timer 1

    # Set up permissions for tune relaxed and chill cpu gov
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/relaxed/boost_count
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/relaxed/boost_ceiling
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/chill/boost_count
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/relaxed/freq_step
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/chill/freq_step
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/relaxed/down_threshold
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/relaxed/down_threshold_suspended
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/chill/down_threshold
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/chill/down_threshold_suspended
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/relaxed/up_threshold
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/chill/up_threshold
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/boost_count
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/boost_ceiling
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/chill/boost_count
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/freq_step
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/chill/freq_step
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/down_threshold
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/down_threshold_suspened
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/chill/down_threshold
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/chill/down_threshold_suspened
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/up_threshold
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/chill/up_threshold
    
    # Enable EIS
    setprop persist.camera.eis.enable 1
    setprop persist.camera.is_type 4
